<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
</head>
<body class="d-flex align-items-center flex-column">
    <h1>Wellcome {{role}} {{name}} </h1>
     <form action="/doSearch" method="post">
        Name <input type="text" name="txtName" id="">
        <input type="submit" value="Search">
    </form>
    <br>

        <ul class="nav navbar-nav">
          <li class="active"><a href="/login">log out</a></li>
          <li><a href="allProduct">All Products</a></li>
          <li><a href="/insert">Add New Product</a></li>
        </ul>
   
    
     <table width="50%" border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Image</td>
            <td>Number</td>
            <td>Price</td>
            <td>Option</td>
        </tr>
        {{# each model}}
        <tr>
            <td>{{ID}}</td>
            <td>{{Name}}</td>
            <td><img src={{Image}} alt="img" class ="rounded" style="width: 200px; heiht: 200px; resize :both;"></td>
            <td>{{Number}}</td>
            <td>{{Price}}</td>
            <td><a href="/delete?id={{_id}}">delete</a><br>            
            <a href="/update?id={{_id}}">Update</a></td>
        </tr>  
        {{/each}}
    </table>
</body>
</html>